* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background-image: url("./images/wallpaper2-576.png");
    background-size: cover;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: grey;
}

img {
    width: 100%;
    height: auto;
}

@font-face {
    font-family: "poppins";
    src: url(./fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "rowdies";
    src: url(./fonts/Rowdies-Light.ttf);
}

@font-face {
    font-family: "shadows";
    src: url(./fonts/ShadowsIntoLight-Regular.ttf);
}

@font-face {
    font-family: "baskervville";
    src: url(./fonts/Baskervville-Regular.otf)
}

@font-face {
    font-family: "nanumgothic";
    src: url(./fonts/NanumGothicCoding-Regular.ttf)
}

.outline {
    outline: 1px solid grey;
}

.nav-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    background-color: white;
    opacity: 0.85
}

.nav-item1 {
    width: 20%;
    background-color: lightgray;
    font-size: 1.6rem;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.nav-items-menu {
    width: 17%;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.nav-item2 {
    width: 30%;
}

.main-container {
    height: 42rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    padding: 11rem 0 11rem 0;
}

.main-title {
    text-align: center;
    font-size: 8rem;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    color: white;
    position: relative;
    top: 3rem;
}

.main-p1 {
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    color: white;
}

.main-p2 {
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    font-family: "shadows", Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.main-p3 {
    text-align: center;
    font-size: 1.7rem;
    font-family: "baskervville", Arial, Helvetica, sans-serif;
    color: white;
}

.skills-title-container {
    height: 4rem;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    opacity: 0.85;
}

.skills-title1 {
    width: 20%;
    text-align: center;
    background-color: lightgrey;
    font-size: 1.6rem;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.skills-title2-container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.skills-title2 {
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.skills-items {
    width: 8rem;
    margin: 3rem;
}

.skills-items__row2 {
    outline: 1px solid grey;
    width: 8rem;
    height: 12rem;
    margin: 3rem;
}

.skills-items-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    padding-top: 3rem;
}

.certificate-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    padding: 1rem 1rem 5rem;
}

.certificate-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 12rem;
    margin: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: lightgrey;
    background-color: rgba(27, 27, 27, 0.2)
}

.portfolio-title-container {
    height: 4rem;
    display: flex;
    background: white;
    opacity: 0.85;
}

.portfolio-title1 {
    width: 20%;
    text-align: center;
    background-color: lightgrey;
    font-size: 1.6rem;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.portfolio-title2-container {
    width: 80%;
    display: flex;
    justify-content: center;
}

.portfolio-title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    font-size: 2rem;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.portfolio-items-container {
    height: 64rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 4rem 2rem;
}

.portfolio-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: 1px solid grey;
    width: 15rem;
    height: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
    color: lightgrey;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    background-color: rgba(27, 27, 27, 0.2)
}

.portfolio-items-details {
    display: none;
    font-size: 3rem;
    color: lightgrey;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    background-color: rgba(27, 27, 27, 0.2);
}

.about-title-container {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.85;
}

.about-title {
    width: 20rem;
    text-align: center;
    font-size: 2rem;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.about-items-container {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 6rem 1rem 1rem;
}

.about-item1 {
    outline: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    text-align: center;
    background-color: rgba(27, 27, 27, 0.2);
    font-size: 3rem;
    color: lightgrey;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.about-item2 {
    font-family: "nanumgothic", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2.4rem;
    display: flex;
    align-items: flex-start;
    margin: 1rem;
}

.about-links-container {
    width: 30rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 2.5rem;
    margin: 1rem;
    padding: 3rem;
}

.github-container {
    display: flex;
    height: 6rem;
    justify-content: center;
}

.linkedin-container {
    display: flex;
    height: 6rem;
    justify-content: center;
}

.facebook-container {
    display: flex;
    height: 6rem;
    justify-content: center;
}

.about-link-icons {
    width: 6rem;
}

.footer-container {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    background-color: black;
    opacity: 0.85;
}

.footer-item {
    width: 30rem;
    height: 2rem;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-family: "baskervville", Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 576px) {

.nav-container {
    height: 4rem;
}

.nav-item3,
.nav-item4,
.nav-item5 {
    font-size: 1.5rem;
}

.main-title {
    font-size: 12rem;
}

.main-p1 {
    font-size: 4rem;
}

.main-p2 {
    font-size: 7.5rem;
}

.main-p3 {
    font-size: 2.5rem;
}

.skills-title-container {
    height: 4rem;
}

.skills-title2 {
    font-size: 1.7rem;
}

.skills-items {
    width: 11rem;
    margin: 5rem;
}

.skills-items-container {
    justify-content: center;
}

.certificate-items {
    width: 25rem;
    height: 15rem;
}

.portfolio-title-container {
    height: 4rem;
}

.portfolio-title2 {
    font-size: 1.7rem;
}

.portfolio-items {
    width: 15rem;
}

.portfolio-items-details {
    outline: 1px solid grey;
    display: flex;
    justify-content: center;
    width: 35rem;
    height: 10rem;
    margin: 2rem 0 2rem;
    font-size: 1.5rem;
}

.portfolio-items-container {
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-title-container {
    height: 4rem;
}

.about-title {
    font-size: 1.7rem
}
}

@media screen and (min-width: 768px) {

.nav-item2 {
    width: 80%;
}

.main-container {
    height: 52rem;
}

.main-title {
    font-size: 14rem;
}

.main-p1 {
    font-size: 5rem;
}

.main-p2 {
    font-size: 9rem;
}

.main-p3 {
    font-size: 3rem;
}

.skills-items {
    width: 8rem;
}

.certificate-items {
    width: 35rem;
}

.certificate-container {
    padding: 4rem 1rem 10rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-items {
    width: 20rem;
}

.portfolio-items-details {
    outline: 1px solid grey;
    display: flex;
    justify-content: center;
    width: 45rem;
    height: 10rem;
    margin: 2rem 0 2rem;
    font-size: 1.5rem;
}

.portfolio-items-container {
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-item1 {
    width: 25rem;
    height: 25rem;
}
}

@media screen and (min-width: 992px) {

.nav-container {
    height: 4rem;
}

.skills-title-container {
    height: 4rem;
}

.skills-items {
    width: 11rem;
}

.portfolio-items {
    width: 20rem;
}

.portfolio-items-details {
    outline: 1px solid grey;
    display: flex;
    width: 55rem;
    height: 10rem;
    margin: 2rem 0 2rem;
    font-size: 1.5rem;
}

.portfolio-items-container {
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-item2 {
    font-size: 3rem;
}
}

@media screen and (min-width: 1200px) {

.nav-container {
    height: 4rem;
}

.nav-item2 {
    width: 80%;
}

.main-container {
    height: 58rem;
    padding: 8rem;
}

.skills-title-container {
    height: 4rem;
}

.portfolio-title-container {
    height: 4rem;
}

.certificate-container {
    flex-direction: row;
    height: 28rem;
    justify-content: space-evenly;
}

.portfolio-items {
    width: 30rem;
}

.portfolio-items-details {
    outline: 1px solid grey;
    display: flex;
    width: 65rem;
    height: 10rem;
    margin: 2rem 0 2rem;
    font-size: 1.5rem;
}

.portfolio-items-container {
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-items-container {
    height: 56rem;
}

.about-title-container {
    height: 4rem;
}
}

@media screen and (min-width: 1400px) {
    
.nav-item2 {
    width: 90%;
}

.certificate-container {
justify-content: space-evenly;
}
}