* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background-image: url("./images/wallpaper.png");
    background-size: cover;
}

/* RESET ENDS */

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: grey;
}

img {
    width: 100%;
    height: auto;
}

/* BODY START */

.nav-flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    margin-top: 2rem;
    height: 4rem;
    display: flex;
    background-color: white;
    opacity: 0.85;
}

.rsz {
    background-color: darkgrey;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

.main-container {
    height: 68rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hello {
    font-size: 9rem;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    position: relative;
    top: 2rem;
}

.mynameis {
    font-size: 2.5rem;
}

.roland {
    font-size: 5rem;
    font-family: "shadows", Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
}

.develop {
    font-size: 1.7rem;
    font-family: "baskervville", Arial, Helvetica, sans-serif;
}

.skills-titles-container {
    height: 4rem;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    opacity: 0.85;
}

.skills-s {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 1.4rem;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}

.skills-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.skills-logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem 0 3rem 0;
}

.skills-logos {
    width: 8rem;
    margin: 3rem;
}

.certificate-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35rem;
    padding-bottom: 5rem;
}

.certificate-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 13rem;
    font-size: 2rem;
    color: lightgrey;
    background-color: rgba(27, 27, 27, 0.2);
    font-family: "poppins", Arial, Helvetica, sans-serif;
    border: 0.1rem groove lightgrey;
}

.portfolio-titles-container {
    height: 4rem;
    display: flex;
    background: white;
    opacity: 0.85;
}

.portfolio-p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 1.4rem;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    background-color: darkgrey;
}

.portfolio-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.portfolio-items-container {
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: lightgrey;
}

.portfolio-works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 15rem;
    font-size: 2rem;
    background-color: rgba(27, 27, 27, 0.2);
    font-family: "poppins", Arial, Helvetica, sans-serif;
    border: 0.1rem groove lightgrey;
}

.portfolio-details {   /* HIDDEN */
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: lightgrey;
    font-family: "poppins", Arial, Helvetica, sans-serif;
    background-color: rgba(27, 27, 27, 0.2);
    border: 0.1rem groove lightgrey;
}

.about-title-container {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 0.85;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.about-items-container {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "poppins", Arial, Helvetica, sans-serif;
}

.about-rolandszilagyi {
    font-size: 4rem;
    text-shadow: 1px 1px 1px black;
}

.about-profilpic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    font-size: 2rem;
    margin: 3rem;
    color: lightgrey;
    background-color: rgba(27, 27, 27, 0.2);
    border: 0.1rem groove lightgrey;
}

.about-frontend-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
}

.about-frontend {
    font-size: 2.4rem;
    text-shadow: 0.1rem 0.1rem black;
}

.fromhungary {
    font-size: 2rem;
    text-shadow: 0.1rem 0.1rem black;
}

.about-links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    color: white;
    font-size: 2.5rem;
    padding: 2rem;
}

.about-link-icons {
    width: 5rem;
}

.footer-container {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: black;
    opacity: 0.85;
    color: white;
    font-family: "baskervville", Arial, Helvetica, sans-serif;
}

/* FONTS */

@font-face {
    font-family: "poppins";
    src: url(./fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "rowdies";
    src: url(./fonts/Rowdies-Light.ttf);
}

@font-face {
    font-family: "shadows";
    src: url(./fonts/ShadowsIntoLight-Regular.ttf);
}

@font-face {
    font-family: "baskervville";
    src: url(./fonts/Baskervville-Regular.otf)
}

@font-face {
    font-family: "nanumgothic";
    src: url(./fonts/NanumGothicCoding-Regular.ttf)
}