body {
  background-image: url("/src/assets/images/wallpaper.jpeg");
  background-size: cover;
}

.color-white {
  color: white;
}

.main-font {
  font-size: 15vw;
}

img {
  width: 100%;
  height: auto;
}